* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messages__page {
    margin-top: 15px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 16px;
    margin-top: 15px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.app-body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,.80);
}

a {
    color: #2098f3;
    text-decoration: none;
    word-wrap: break-word;
    cursor: pointer;
}

a:hover {
    color: #40a9ff;
    text-decoration: none;
}
